.detail-panel {
  margin-left: -8px;
  margin-right: -8px;
  background-color: whitesmoke;
  display: flex;
  width: 100%;
  height: 600px;
  padding: 50px 80px 50px 80px;
  .sub-detail-panel {
    width: calc(100%-80px);
    .user-detail {
      flex: 100%;
      padding: 40px;
      height: 400px;
      background-color: #fff;
      border-radius: 10px;
      h5 {
        color: #888e98;
        font-size: 16px;
      }
      .contact {
        display: flex;
        padding-top: 10px;
        p {
          font-size: 16px;
          color: #888e98;
        }
        .anticon {
          color: #888e98;
          font-size: 20px;
          margin-right: 22px;
        }
      }
      .email {
        display: flex;
        padding-top: 10px;
        p {
          font-size: 16px;
          color: #888e98;
        }
        .anticon {
          color: #888e98;
          font-size: 20px;
          margin-right: 22px;
        }
      }
      .address {
        display: flex;
        padding-top: 10px;
        p {
          font-size: 16px;
          color: #888e98;
        }
        .anticon {
          color: #888e98;
          font-size: 20px;
          margin-right: 22px;
        }
      }
    }
  }
}
