$primary: #5193F4;
$secondary: #002767;
$secondaryDark: #042151;
$textColor: #ffffff;
$darkTextColor: #707070;
$primaryTextColor: #143D7F;
$secondaryTextColor: #88B0EC;
$black: #000000;


$font-black : Roboto-Black;
$font-bold : Roboto-Bold;
$font-italic : Roboto-Italic;
$font-light : Roboto-Light;
$font-medium : Roboto-Medium;
$font-regular : Roboto-Regular;
$font-thin : Roboto-Thin;